.section{
    &__text{
        color:$eerieBlack;
        font-size:16px;
        text-align: center;
        padding-right: 30px;
        font-weight: $primary-font-regular;
    }
 &__img{
    width:200px;
    height:200px;
    border-radius:150px;
    }
}