@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
//color
$white:#fff;
$platinum:#E6E7E7;
$lightGray:#D1D1D1;
$fuzzyWuzzy:#E56353;
$ruddyPink: #D76C69;
$spanish-pink:#ECBCBA;
$eerieBlack: #121619;
$raisinBlack:#222323;
$niquel:#6C6E70;

//fuentes
$roboto: 'Roboto', sans-serif;
$roboto-light:300;
$roboto-regular:400;

$primary-font: $roboto;
$primary-font-light: $roboto-light;
$primary-font-regular: $roboto-regular;

//font size
$font-size-large:1.125rem;