body{
    font-family: $primary-font-light;
    color:$white;
}
.title{
    font-size: 3.75rem;
    background-color: $spanish-pink;
    font-family: $primary-font-regular;
}
.post{
    color:black;
    font-family: $primary-font-light;
    &__fecha{
        font-family: $primary-font;
        font-weight: $primary-font-regular;

    }
    &__texto{
        
    }
}
.navbar{
    color:black;
}
.nav-item{
    color:black;
}